[id^="#wrapper"] {
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header1 header2 header3"
    "content1 content2"
    "content3 content4"
    "content5 content6"; */
}
header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header1  header3"
    "content1 content2";
  /*position: relative;*/
  width: 100%;
  background-color: #999999;
  /* grid-column: 1/2;
  grid-row: 1/2; */
}
header div {
  display: flex;

  height: 150px;

  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
figure {
  height: 110px;
  width: 110px;
  margin: 20px 150px 20px 20px;
}
header div hgroup {
  color: red;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
}

#competencies h3,
#about h3,
#experiences h3,
#education h3,
#hobbies h3 {
  border-bottom: 1px solid lightgray;
}

#about {
  grid-area: "content1";
}
#experiences {
  grid-area: "content3";
}

div.experience-details {
  color: #cbcbcb;
}
div.experience h4 {
  color: red;
}

.experience h4 {
}
.experience div {
}
.experience p {
}
#competencies {
  grid-area: "content2";
}
#education {
}
#hobbies {
}

h3::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
}
#competencies {
}
#contact h3 {
  visibility: hidden;
}
section#contact {
  background-color: red;
  position: absolute;
  left: 50%;
  width: 50%;
  top: 0;
  height: 130px;
  margin: 10px 0px 10px 10px;
  display: flex;
}
.contact {
  font-size: 13px;
}
.contact-type {
  color: white;
  background-color: red;
}
.contact-value {
  color: red;
  background-color: black;
}
